

.title{
    margin: auto;
    text-align: left;
    font-size: 25px;
    width: 60pc;
    line-height: 50px;
}

.table{
    margin: auto;
    text-align: left;
    font-size: 25px;
    width: 60pc;
    line-height: 50px;
}
