

.title{
    color: orange;
    margin: auto;
    text-align: left;
    font-size: 25px;
    width: 60pc;
    line-height: 50px;
}

#tableHead{
    background-color: beige;
    color: black;
}

.table{
    background-color: bisque;
    color: black;
    
    margin: auto;
    text-align: left;
    font-size: 25px;
    width: 60pc;
    line-height: 50px;
}
