.sidebarOption{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer ;
    color: black;
}

.sidebarOption:hover,
.sidebarOption:hover > h3{
    background-color: #EF7631;
    color: #FFFDF1;
    font-weight: 500 !important;

}