



img{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height:18pc;
   padding-top: 7pc;
   object-fit: cover;
  

   
   
}