img{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 200px;
    width: 60pc;
    height: 35pc;
    object-fit: cover;
    border-radius: 35px;
    padding: 1rem;
    margin-bottom: 1rem;
}

h1{
    text-align: left;
    margin: auto;
    width: 60pc;
    color: rgba(102, 38, 38, 1);
    font-size: 40px;
    line-height: 45px;
    padding: 1rem;
    margin-bottom: 1rem;
    
    }

p{
    margin: auto;
    text-align: left;
    font-size: 25px;
    width: 60pc;
    line-height: 50px;
    margin-bottom: 200px;
   
}

